* {
    font-family: 'Roboto', sans-serif;
}

.profilebutton {
    background-color: #669FBD;
    padding: 10px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    height: fit-content;
    color: white;
}